// Variables

$gray: #b4befe;
$gray-l: lighten(black, 75%);
$white-faded: rgba(white, 0.8);
$gray-light: #eee;
$brand-primary: #313244;

// variables for markdown enhancement styles
$tag-text: #f5e0dc;
$success: #40a02b;
$info: #7287fd;
$warning: #df8e1d;
$error: #d20f39;

// layouts
$MQSmall: 480px;
$MQMobile: 768px;
$MQDesktop: 991px;
$MQIpad: 1023px;
$MQLarge: 1200px;

:root {
  --body-color: #4c4f69;
  --body-gray: #5c5f77;
  --primary-color: #dd7878;
  --primary-color-dark: #dd7878;
  --bg: #dce0e8;
  --bg-secondary: #e6e9ef;
  --bg-teritary: #e6e9ef;
  --bg-transparent: rgba(220, 224, 232, 0.9);
  --inline-code-text: #e6e9ef;
  --inline-code-bg: #dd7878;
  --border-color: #232634;
  --border-color-dark: #dadada;
  --dropdown-shadow: 0 1px 20px -8px rgba(0, 0, 0, 0.5);
  --mobile-catalog-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.2);
  --item-shadow: 0 1px 1px 1px rgba(31, 35, 46, 0.1);
  --item-up-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
  --gitalk-comment-bg: #f9f9f9;
  --gitalk-comment-admin-bg: #f6f9fe;

  [data-theme="dark"] {
    --body-color: #cdd6f4;
    --body-gray: #7f849c;
    --primary-color: #89b4fa;
    --primary-color-dark: #b4befe;
    --bg: #05060E;
    --bg-secondary: #b4befe;
    --bg-teritary: #11111b;
    --bg-transparent: rgb(24, 24, 37, 0.9);
    --inline-code-text: #96c2eb;
    --inline-code-bg: rgba(76, 86, 128, 0.4);
    --border-color: #3c4a5f;
    --border-color-dark: #4b5a70;
    --dropdown-shadow: 0 1px 20px -5px rgba(180, 190, 254, 0.5);
    --mobile-catalog-shadow: -1px 0px 5px 0px rgba(49, 50, 68, 0.2);
    --item-shadow: 0 1px 1px 1px rgba(49, 50, 68, 0.3);
    --item-up-shadow: 0 10px 30px 0px rgba(49, 50, 68, 0.3);
    --gitalk-comment-bg: #364050;
    --gitalk-comment-admin-bg: #404d61;
  }

  [data-theme="sepia"] {
    --body-color: #fdf6e3;
    --body-gray: #586e75;
    --bg: #002b36;
    --primary-color: #b58900;
    --bg-secondary: #073642;
    --bg-teritary: #073642;
    --bg-transparent:#002b36;
    --inline-code-text: #fdf6e3;
    --inline-code-bg: #859900;
    --border-color: #ded0bf;
    --border-color-dark: #b8ac9d;
    --gitalk-comment-bg: #ece1c3;
    --gitalk-comment-admin-bg: #f7f0e1;
  }
}
